src/main/mule/identityreport-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="identityreport-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="identityreport-sys-api-config" api="identityreport-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="identityreport-sys-api-main">
        <http:listener config-ref="identityreport-sys-api-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="identityreport-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="identityreport-sys-api-console">
        <http:listener config-ref="identityreport-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="identityreport-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\api\SSNAddressVerification:application\json:identityreport-sys-api-config">
        <flow-ref doc:name="get-ssnaddress-verificationFlow" doc:id="dc17813d-83c9-4082-8122-e78d6c567f93" name="get-ssnaddress-verificationFlow" />
    </flow>
    <flow name="post:\api\SSNNameVerification:application\json:identityreport-sys-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a23d569f-51dd-43ff-aa14-7260cea902a1" name="getSSNNameVerificationFlow" />
    </flow>
    <flow name="post:\api\SSNPhoneVerification:application\json:identityreport-sys-api-config">
        <flow-ref doc:name="getSSNPhoneVerificationFlow" doc:id="7cc8890c-7032-4efc-b25b-a1038bdd29f3" name="getSSNPhoneVerificationFlow" />
    </flow>
    <flow name="post:\api\SSNValidation\GetReport:application\json:identityreport-sys-api-config">
        <flow-ref doc:name="getSSNValidationFlow" doc:id="838e5d65-5303-4a90-9181-daaaf0757b91" name="getSSNValidationFlow" />
    </flow>
    <flow name="get:\v1\creditScore\(SSN):identityreport-sys-api-config">
        <ee:transform doc:name="vars.SSN">
            <ee:variables>
                <ee:set-variable variableName="SSN">attributes.uriParams.'SSN'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-creditscoreFlow" doc:id="2433652e-e044-4a06-b968-54655027b6f3" name="get-creditscoreFlow" />
    </flow>
    <flow name="get:\validate\email:identityreport-sys-api-config">
        <flow-ref doc:name="validate-email" doc:id="995eece0-2647-4390-b59f-9b2dadb3a9d0" name="email-validation-implFlow" />
    </flow>
    <flow name="post:\loan\status\generate:identityreport-sys-api-config">
		<flow-ref doc:name="generate-otp-implFlow" doc:id="54d48596-6d87-4d94-9eac-f53dde5fec21" name="generate-otp-implFlow"/>
    </flow>
    <flow name="post:\loan\status\submit:identityreport-sys-api-config">
		<flow-ref doc:name="loan-status-implFlow" doc:id="a6dae077-be85-42dc-addd-50194389a382" name="loan-status-implFlow"/>
    </flow>
</mule>
